version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "3002:3002"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  dashboard:
    build: ./dashboard
    ports:
      - "3001:3000"
    depends_on:
      - backend
    restart: always
