name: Deploy Multi-Container Stock App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~
            # 1. Create the folder if it doesn't exist
            mkdir -p stock-app

            # 2. Update code WITHOUT deleting the .env file you just made
            if [ -d "stock-app/.git" ]; then
              cd stock-app
              git pull origin main
            else
              git clone https://github.com/shubh0284/Stock-Trading-Platform.git stock-app
              cd stock-app
            fi

            # 3. Build and Start
            docker compose down || true
            docker compose up -d --build
