name: Deploy Multi-Container Stock App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~
            # 1. Forcefully remove any old folder to prevent 'Exit Code 128' errors
            sudo rm -rf stock-app

            # 2. Clone the repository using the public HTTPS link
            # This avoids SSH permission issues on the EC2 server
            git clone https://github.com/shubh0284/Stock-Trading-Platform.git stock-app

            # 3. Enter folder and deploy
            cd stock-app
            docker compose down
            docker compose up -d --build
